.catalog {
  color: #000000;
  .oswald;
}

.catalog__title-wrapper {
  .wrapper();
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -41px;
    left: 0;
    width: 320px;
    height: 1px;
    background-color: #ebebeb;
  }
}

.catalog__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

}

.catalog__card {
  padding-top: 8px;
  padding-bottom: 11px;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 1px;
    background-color: #ebebeb;
  }
}
