.info__wrapper {
  .wrapper-form();
}

.info__title {
  margin: 27px auto 37px 0;
  .oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin: 65px auto 54px 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 77px auto 56px 0;
  }
}

.info__text {
  max-width: 228px;
  margin: 0 auto 39px 0;
  .oswald;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  @media (min-width: @tablet-width) {
    max-width: 323px;
    margin: 0 auto 66px 0;
    font-size: 20px;
    line-height: 30px;
  }
}

.info__group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: none;
  .oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @darkgrey;

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}

.info_data {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}

.info_talk {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.info_add {
  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
  }
}
