.invite {
  display: flex;
  flex-direction: column;
}

.invite--silver {
  background-color: @lightgrey;
}

.invite__wrapper {
  .wrapper();
}

.invite__adress-invite {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 26px;
}

.invite__cooperation {
  margin: 0;
  width: 139px;
  .oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.invite__adress {
  margin: 0;
  width: 139px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  .arial;
  color: @darkgrey;
}
