.main-footer {
  background-color: @lightgrey;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  .wrapper();
}

.main-footer__logo-footer {
  margin-top: 39px;
  margin-bottom: 32px;
}

.main-footer__logo-footer-image {
  fill: #111111;
}
