.main-header__union {
  margin: 0 auto;
  width: @mobile-mobile;
  padding: 13px 0 14px 0;
  background-color: @light;
  color: #000000;
}

.main-header__wrapper {
  .wrapper();
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-header--border {
  border-bottom: 1px solid #cdcdcd;
}

.main-header__logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-header__logo-one {
  margin-right: 57px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-two {
  &:hover {
    opacity: 0.8;

    &:active {
      opacity: 0.6;
    }
  }
}

.main-header__logo-tablet {
  display: none;
}

.main-header__logo-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-header__union {
    width: @tablet-width;
    padding: 0;
    padding-top: 26px;
  }

  .main-header__logo-one {
    display: none;
  }

  .main-header__logo-two {
    display: none;
  }

  .main-header__logo-tablet {
    display: block;

    &:hover {
      opacity: 0.8;

      &:active {
        opacity: 0.6;
      }
    }
  }

  .main-header--border {
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header__union {
    width: @desktop-width;
    padding-top: 53px;
    background: none;
  }

  .main-header--border {
    border-bottom: none;
  }

  .main-header__logo-tablet {
    display: none;
  }

  .main-header__logo-desktop {
    display: block;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
