.program {
  margin-bottom: 20px;
  background-image: url("../../img/index/cat_eat.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  z-index: 1;
  color: #ffffff;
  .oswald;
}

.program__wrapper {
  &::before {
    content: "";
    display: block;
    width: 320px;
    height: 302px;
    background: #68b738d9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .wrapper();
}

.program__title {
  width: 250px;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.program__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.program__images-page {
  margin-bottom: 3px;
}

.program__choice-button {
  display: block;
  padding: 7px 0;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  cursor: pointer;
}
